	
	img{
		width: 100px;
	}
	.vermelho{
	color: red;
}
	.foto{
		margin-left: 200px;
		float: left;
	}

	.borda{
		border: 10px solid red;
		padding: 50px 25px 50px 25px;
	}

	#titulo{
	background-color: black;
}